/* --- normalize / reset --- */
@import 'normalize';
@import 'bootstrap';

/* --- real app css --- */

body {
    padding: 10px;

    #app-jsx {
    }
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.comment {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ddd;

    .author {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px red solid;
    }
}
